.Buscador{
  border: solid grey 2px;
  padding: 5px;
  box-shadow: 0px 2px 3px 0px black;
  background-color: rgb(112, 115, 119);
  padding-right: 10px;
}

.Buscador input{
  width: 100%;
  box-shadow: 0px 1px 1px 0px;
}

.Buscador label{
  color: white;
    font-family: 'Ubuntu', sans-serif;

}
